body {
  text-align: center;
  background-color: #5CDB95;
  color: #EDF5E1;
}

html, body, main {
  height: 100%;
}

#section-history-container{
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}