$element-spacing: 10px;

main {
  text-align: -webkit-center;

  form {
    input {
      margin: $element-spacing;
    }

    #url-label {
      color: #05386B
    }

    #http-method-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    [type=radio] {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }

    [type=radio] + div {
      background-color: #05386B;
      padding: $element-spacing;
      margin: $element-spacing;
      border-radius: 7px;
    }

    [type=radio]:checked + div {
      background-color: #379683;
    }
  }
}
