$element-spacing: 10px;

form {
  input {
    margin: $element-spacing;
  }

}

ul {
  list-style-type: none;

  li {
    padding: $element-spacing;
  }
}

[type=radio] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

[type=radio] + div {
  background-color: blanchedalmond;
}

[type=radio]:checked + div {
  background-color: azure;
}
