#results {
  width: fit-content;
  height: fit-content;
  background-color: #8EE4AF;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 10px;

  li {
    padding: 10px;
    color: #05386B;
  }
}